/* Basic styling */
:root {
  --darkgreen: #69763D;
  --green: #8D8741;
  --blue: #659DBD;
  --terra: #DAAD86;
  --brown: #BC986A;
  --vanilla: #FBEEC1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  flex-basis: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 12px;
}

/* standaard React CSS */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
